.list {
        height: 90%;
        width: 90%;
        border: none;
        box-shadow: none;
}

.listAddElement {
        button {
                font-size: 15px;
        }
}

.listEmptyText {
        font-size: 15px;
        padding-top: 10px;
}
