@import "./../variables.scss";
.logo {
    color: $orange;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    text-shadow: 1px 0px 4px $orange;
}

.logo:hover {
    cursor: default;
}
