@import "./variables.scss";

.textChanger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 15%;
	animation-duration: 0.5s;
	animation-name: vanish;
}

.textChanger-text {
	color: $font-color;
	font-size: 30px;
	margin: 20px;
	text-shadow: 3px 0px 4px $font-color;
	font-family: "Press Start 2P", cursive;
}

.textChanger-input {
	input {
		color: $font-color;
		background: none;
		font-family: "Press Start 2P", cursive;
		text-shadow: 1px 0px 4px $font-color;
		outline: none;
		border: 2px dashed $font-color;
		font-size: 20px;
		padding: 10px;
		margin: 20px;
		border-radius: 3px;
		transition: linear 0.3s;
	}

	input:focus {
		-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 135, 0, 1);
		-moz-box-shadow: 0px 0px 15px 0px rgba(255, 135, 0, 1);
		box-shadow: 0px 0px 15px 0px rgba(255, 135, 0, 1);
	}
}
