.input {
        input {
                font-size: 20px;
        }

        input::placeholder {
                font-size: 15px;
        }
}

.tasksEmpty {
        padding-top: 10px;
        font-size: 20px;
}
